.welcome-text {
    -fx-font-size: 40pt;
}

.test-btn {
    -fx-background-color: #fafafa;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #cccccc;
    -fx-padding: 10px 40px;
    -fx-border-radius: 10px;

    -fx-transition:
        -fx-background-color 2s ease-in-out,
        -fx-scale-x 2s ease-in-out,
        -fx-scale-y 2s ease-in-out;
}
.test-btn:hover {
    -fx-background-color: #2299ff;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}